{
	"useTabs": true,
	"tabWidth": 1,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"endOfLine": "lf",
	"printWidth": 110,
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always"
}
